// see: http://ui.lumapps.com/css/colors

// Scrollbar
$scrollbarColour: $teal-500;
$scrollbarBG: lighten($scrollbarColour, 10%);

// Navigation links
$navLinkColour: $blue-900;
$navLinkColourOuterActive: $blue-500;
$navLinkColourInnerActive: $blue-200;
