html, body {
    height : 100%;
    width  : 100%;
}

#navigation {
    // width: 200px;
    // position: fixed;
    display: inline-block;

    a {
        text-transform: capitalize;
        text-decoration: none;
        color: $navLinkColour;
    }

    .active {
        a {
            color: $navLinkColourOuterActive;
        }

        ul li {
            a {
                color: $navLinkColour;
            }

            &.active a {
                color: $navLinkColourInnerActive;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        // clear:both after floating ul's contents
        &:after {
            content: '';
            clear: both;
        }
    }

    li {
        list-style: none;
        position: relative;
        // float: left;
        display: block;
        width: 100%;
        text-align: center;
        margin:0;
        padding:0;
        margin-right: 5px;

        a {
            display: block;
            padding: 10px;
            background: rgba(0,0,0,0.2);

            @include transition(all 500ms ease);
        }

        &:hover {
            a {
                background: rgba(12,223,145,1);
                color: white;
            }

            ul {
                left: 100%;
                top: 0;

                li:hover {
                    a {
                        background: rgb(130,12,210)
                    }
                }
            }
        }
    }

    ul ul {
        position: absolute;
        left: -9001px;
    }
}


#navigation {
    float: left;
}
.content {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;


    // p {
    //     border-bottom: 10px;
    // }
}

// resets for default wiki styles
#top_menu_under {
    // toggle this, with 'on' the page goes under the top bar
    position: absolute;
    border: 0;
}

#top_menu_14 {
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

#globalWrapper {
    font-size: 100%;

    #bodyContent {
        h1.firstHeading {
            display: none;
        }

        h1, h2, h3, h4, h5, h6 {
            border: 0;
            padding: 0;
            margin-bottom: 10px;
        }

        line-height: 1.42857143;

        p {
            margin: 0;
            line-height: 1.42857143;
        }
        li {
            margin-bottom: 0;
        }

        #content {
            border: 0;
            padding: 0;
            width: 100%;
        }
    }
}
