html {
    &::-webkit-scrollbar {
        width: $scrollbarWidth;
    }

    &::-webkit-scrollbar-track-piece {
        background: $scrollbarBG;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbarColour;
    }
}
