html {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track-piece {
        background: lighten($header-bg, 10%);
    }

    &::-webkit-scrollbar-thumb {
        background: $header-bg;
    }
}
