<!-- Declare that you are going to use html code instead of wiki code -->
<html>

	<!-- Start of CSS-->
		<style type="text/css">

		/* WIKI SETTINGS*/

		/* Hide first heading */
			.firstHeading {
				display: none;
			}

		/*-- Remove borders, float content left and remove padding/margin */
			#globalWrapper, #content{
				background-color: transparent;
				border: 0px;
				float: left;
				margin:0px;
				padding: 0px;
				font-size: 127%;
			}

		/*left align Black Menu Bar */
			#top_menu_inside {
				margin-left: 20px;
			}
		</style>
