/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
html::-webkit-scrollbar {
  width: 12px; }

html::-webkit-scrollbar-track-piece {
  background: #00c9b6; }

html::-webkit-scrollbar-thumb {
  background: #009688; }

html, body {
  height: 100%;
  width: 100%; }

canvas {
  display: block; }
