{{template templates.head mode}}
<html>

{{navigation mode "_team" "collaborations"}}
<div class="content">
{{markdown markdown.collaborations mode}}
</div>
</html>
{{template templates.footer mode}}
