{{template templates.head mode}}
<html>

{{navigation mode "awards" "entrepreneurship"}}
<div class="content">
{{markdown markdown.entrepreneurship}}
</div>
</html>
{{template templates.footer mode}}
