{{template templates.head mode}}
<html>

{{navigation mode "_human_practices" "human_practices"}}
<div class="content">
{{markdown markdown.human_practices}}
</div>

</html>
{{template templates.footer mode}}
