{{template templates.head mode}}
<html>

{{navigation mode "_human_practices" "integrated_practices"}}
<div class="content">
{{markdown markdown.integrated_practices}}
</div>

</html>
{{template templates.footer mode}}
